.wrapper-repositories {
  display: grid;
  grid-gap: 20px;
  margin: 0px 20px 20px;
}

.repository {
  background: var(--primary);
  border: 1px solid var(--border-box);
  border-radius: 6px;
  transition: transform 0.2s;
}

.repository:hover {
  transform: translate(10px);
}
