.wrapper-repositories {
  display: grid;
  grid-gap: 20px;
  margin: 0px 20px 20px;
}

.repository {
  background: var(--primary);
  border: 1px solid var(--border-box);
  border-radius: 6px;
  transition: all 0.4s ease;
}

.repository:hover {
  border: 1px solid var(--border);
  -webkit-transform: translate3D(0, -1px, 0) scale(1.02);
  transform: translate3D(0, -1px, 0) scale(1.02);
}
