* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--front-color) url(../assets/img/github.svg) no-repeat 80% top;
}

button {
  cursor: pointer;
}

#root {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --primary: #ffffff;
  --number: #333333;
  --number-title: #666666;
  --title: #555555;
  --text: #666666;
  --icon: #c4c4c4;
  --bg: #efefef;
  --front-color: #f0f0f0;
  --bg-card: #ffffff;
  --bg-card-before-one: #00f2ee;
  --bg-card-before-two: #4facfe;
  --circle: #00d8fe;
  --border: #4facfe;
  --border-box: #e1e4e8;
  --link: #0366d6;
  --gray: #586069;
  --icon-box: #6a737d;
  --topic: #3a3a3a;
  --return: #a8a8b3;
  --return-hover: #3d3d4d;
  --typescript: #2b7489;
  --javascript: #f1e05a;
  --shell: #89e051;
  --css: #563d7c;
  --dart: #00b4ab;
  --scss: #c6538c;
  --dockerfile: #384d54;
  --other: #9e9e9e;
}
