* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #efefef;
  background: #f0f0f0 url(../../assets/img/github.svg) no-repeat 80% top;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 270px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #00f2fe, #4facfe);
  clip-path: circle(400px at 50% -48.5%);
}

.header {
  position: relative;
  height: 265px;
}

.mail {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: #fff;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 3;
  text-decoration: none;
}

.mail:hover {
  opacity: 1;
}

.hamburger-menu {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 1.4rem;
  left: 1.9rem;
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.hamburger-menu:hover {
  opacity: 1;
}

.hamburger-menu .center {
  position: absolute;
  height: 2px;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 1px;
}

.hamburger-menu:before,
.hamburger-menu:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.hamburger-menu:before {
  top: 0;
}

.hamburger-menu:after {
  bottom: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .image {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #00d8fe;
  margin-bottom: 2px;
  overflow: hidden;
}

.image .avatar {
  height: 100%;
}

.name {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
}

.sub-location,
.at-sign {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2rem;
  opacity: 0.8;
  color: #fff;
}

.content {
  display: flex;
  padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.right {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 2.1rem;
}

.number {
  font-size: 2.1rem;
  font-weight: 200;
  color: #333;
  line-height: 1.2;
}

.number-title {
  font-size: 0.55rem;
  color: #666;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  position: relative;
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 0 3px 0;
  margin-bottom: 0.9rem;
  display: inline-block;
}

.title:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: #555;
  bottom: 0;
  left: 0;
}

.text {
  color: #666;
  font-weight: 300;
  line-height: 1.7;
}

.icons-container {
  padding: 1rem 0;
}

.icon {
  color: #c4c4c4;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 8px;
  transition: 0.3s;
}

.icon:hover {
  color: #4facfe;
}

.buttons-wrap {
  display: flex;
  margin-top: 5px;
}

.follow-wrap,
.projects-wrap {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.follow-wrap:hover,
.projects-wrap:hover {
  flex: 5;
}

.follow {
  padding: 9.6px 0;
  width: 100%;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 140%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 18.1px;
  margin-right: 3px;
}

.projects {
  padding: 7.6px 0;
  width: 100%;
  border: 2px solid #4facfe;
  color: #4facfe;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 3px;
  border-radius: 18.1px;
}

@media (max-width: 410px) {
  .content {
    flex-direction: column;
  }

  .right {
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}

@media (max-width: 370px) {
  .header {
    height: 230px;
  }

  .card:before {
    clip-path: circle(400px at 50% -74.5%);
    height: 230px;
  }

  .hamburger-menu {
    width: 16px;
    height: 12px;
    top: 1.1rem;
    left: 1.5rem;
  }

  .main .image {
    width: 90px;
    height: 90px;
    border-width: 3px;
  }

  .name,
  .sub-name {
    font-size: 1rem;
  }

  .content {
    padding: 1.2rem 1.8rem 1.8rem 1.8rem;
  }

  .number {
    font-size: 1.8rem;
  }

  .number-title {
    font-size: 0.4rem;
  }

  .right {
    padding-top: 1rem;
  }

  .title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .icons-container {
    padding: 0.5rem 0;
  }

  .icon {
    font-size: 1.1rem;
  }

  .follow {
    padding: 7.6px 0;
    border-radius: 14.6px;
    font-size: 0.6rem;
  }

  .projects {
    padding: 5.6px 0;
    border-radius: 14.6px;
    font-size: 0.6rem;
  }
}
