.wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.topic {
  position: relative;
  max-width: 450px;
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--topic);
  margin: 5rem 0 5rem;
  background: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emoji {
  -webkit-text-fill-color: currentColor;
}

.anchor-return {
  display: flex;
  align-items: center;
  color: var(--return);
  text-decoration: none;
  transition: color 0.2s;
}

.anchor-return:hover {
  color: var(--retunr-hover);
}

@media (max-width: 420px) {
  .topic {
    width: 260px;
    font-size: 2.6rem;
  }
}
