.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 270px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #00f2fe, #4facfe);
  clip-path: circle(400px at 50% -48.5%);
}

.header {
  position: relative;
  height: 265px;
}

.mail {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 3;
  text-decoration: none;
}

.mail:hover {
  opacity: 1;
}

.hamburger-menu {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 1.4rem;
  left: 1.9rem;
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.hamburger-menu:hover {
  opacity: 1;
}

.hamburger-menu .center {
  position: absolute;
  height: 2px;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 1px;
}

.hamburger-menu:before,
.hamburger-menu:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.hamburger-menu:before {
  top: 0;
}

.hamburger-menu:after {
  bottom: 0;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .image {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #00d8fe;
  margin-bottom: 2px;
  overflow: hidden;
  cursor: pointer;
}

.image .avatar {
  height: inherit;
}

.image .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(79, 172, 254, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.image:hover .hover {
  opacity: 1;
}

.hover.active {
  opacity: 1;
}

.name {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
}

.sub-name,
.at-sign {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2rem;
  opacity: 0.8;
  color: #fff;
}

@media (max-width: 410px) {
  .content {
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  .header {
    height: 230px;
  }

  .card:before {
    clip-path: circle(400px at 50% -74.5%);
    height: 230px;
  }

  .hamburger-menu {
    width: 16px;
    height: 12px;
    top: 1.1rem;
    left: 1.5rem;
  }

  .mail {
    font-size: 1.1rem;
    top: 0.75rem;
    right: 1.5rem;
  }

  .main .image {
    width: 90px;
    height: 90px;
    border-width: 3px;
  }

  .name,
  .sub-name {
    font-size: 1rem;
  }
}
