.icons-container {
  padding: 1rem 0;
}

.icon {
  color: var(--icon);
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 8px;
  transition: 0.3s;
}

.icon:hover {
  color: var(--border);
}

@media (max-width: 370px) {
  .icons-container {
    padding: 0.5rem 0;
  }

  .icon {
    font-size: 1.1rem;
  }
}
