* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #efefef;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}
