* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--front-color) url(./assets/img/github.svg) no-repeat 80% top;
}

button {
  cursor: pointer;
}

#root {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --primary: #FFFFFF;
  --number: #333333;
  --number-title: #666666;
  --title: #555555;
  --text: #666666;
  --icon: #C4C4C4;
  --bg: #EFEFEF;
  --front-color: #F0F0F0;
  --bg-card: #FFFFFF;
  --bg-card-before-one: #00F2EE;
  --bg-card-before-two: #4FACFE;
  --circle: #00D8FE;
  --border: #4FACFE;
  --border-box: #E1E4E8;
  --link: #0366D6;
  --gray: #586069;
  --icon-box: #6A737D;
  --topic: #3A3A3A;
  --return: #A8A8B3;
  --return-hover: #3D3D4D;
}
